# Python logs and caches
__pycache__/
*.log
*.txt
!requirements.txt
!blacklist.txt
!classes.txt

# Models (Track custom models, ignore large generic ones)
models/
!models/*.pt
!no_sitbelt.pt

# Video processing artifacts
outputs/
uploads/

# IDE files
.vscode/
.idea/
